*
*/
!.gitignore
!.bash_aliases.example
!docker-compose-t2.yml
!docker-compose-t2-vpn.yml
!docker-compose-t2-obsolete.yml
!docker-compose-t2-synology.yml
!docker-compose-t2-web.yml
!.env.example
.env
!README.md
!LICENSE
!shared
shared/*
!shared/*.example
!config/picard
config/picard/*
!picard/*.example
!config/traefik2
config/traefik2/*
!config/traefik2/*.example
!config/traefik2/rules
config/traefik2/rules/*
!config/traefik2/rules/*.example
!config/traefik2/rules/tls-opts.yml
!config/authelia
config/authelia/*
!config/authelia/*.example