*
*/
!.gitignore
!.bash_aliases.example
!docker-compose.yml
!docker-compose-synology.yml
!.env.example
!preparation.sh
.env
!README.md
!LICENSE
!shared
shared/*
!shared/*.example
!config
!config/picard
config/picard/*
!picard/*.example
!config/traefik2
config/traefik2/*
!config/traefik2/*.example
!config/traefik2/rules
config/traefik2/rules/*
!config/traefik2/rules/*.example
!config/traefik2/rules/tls-opts.yml
!config/traefik2/acme
config/traefik2/acme/*
!config/traefik2/acme/*.example
!config/authelia
config/authelia/*
!config/authelia/*.example
!config/picard
config/picard/*
!config/picard/*.example
!secrets
secrets/*
!secrets/*.example